 <section>
  <%= form_tag(pages_save_user_path)do %>
  <div class ="field">
    <%= label_tag "name", "Nombre" %>
    <%= text_field_tag(:name) %>
  </div>
  <div class ="field">  
    <%= email_field_tag(:email) %>
    <%= label_tag "email", "Email" %>
  </div>
  <div class="field">
    <%= number_field_tag(:age) %>
    <%= label_tag "age", "Edad" %>
  </div>
  <ul class ="actions">
    <li><%= submit_tag("Send Form") %>
    </ul>
    <% end %>
</section>   